@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply cursor-default antialiased bg-white dark:bg-black text-black dark:text-white;
    overflow-y: auto;
    overflow-x: auto;

    scrollbar-color: grey white !important;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lightgrey;
}